//Colors
$color-primary: #b0ecb0;
$color-secondary: #57cafb;
$color-red: #ef4b41;
$color-beige: #f7efe9;
$color-black: #242424;
$color-white: #eceae9;

//Skills Color
$color-react: #70ddfb;
$color-vue: #3eaf7c;
$color-wordPress: #1f6f93;
$color-ui: #ef4b41;
$color-git: #e74b27;

//Fonts
$font-primary: "Nunito", sans-serif;
$font-secondary: "Crimson Text", serif;
