@import "../../../scss/main.scss";

.about {
  margin-top: 120px;
  position: relative;
  @include media("<=tablet") {
    margin-top: 60px;
  }
  p {
    margin-left: 275px;
    @include text;
    margin-top: 10px;
    @include media("<=tablet") {
      margin-left: 30px;
    }
  }
}
