@import "../../../scss/main.scss";

.skills {
  position: relative;
  margin-top: 180px;
  @include media("<=tablet") {
    margin-top: 120px;
  }

  ul {
    list-style: none;
    li {
      margin-left: 275px;
      @include media("<=tablet") {
        margin-left: 30px;
      }
    }
  }
  .backIconRight {
    top: 30%;
  }
}
